* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    font-family: 'Lato', 'Onest';
    background-color: #E2F3ED;
}

.wrap{
    width: 1600px;
    margin: 0 auto;
}

header {
    background-color: #A8E6CF;
    height: 77px;
    display: flex;
    align-items: center;
    padding-right: 80px;
    padding-left: 80px;
    justify-content: space-between;
}

.main-link{
    margin-left: 22px;
    text-decoration: none;
    color: black;
    font-size: 35px;
    transition: color 0.3s;

    &:hover{
        color: #FFAAA5;
    }
}


.logo-link {
    text-decoration: none;
}

.logo-link svg{
    fill: black;
    transition: fill 0.3s;

    &:hover{
        fill: #FFAAA5;
    }
}


.profile svg{
    fill: black;
    transition: fill 0.3s;

    &:hover{
        fill: #FFAAA5;
    }
}

.page-up{
    height: 450px;
    background-color: #FFAAA5;
    background-image: url(/img/circle.png);
    background-repeat: no-repeat;
    background-position: 4%;
}

.page-up-par{
    width: 537px;
    height: 188px;
    font-size: 30px
}

.heading-main{
    font-size: 70px;
    font-weight: lighter;
    border-left: 8px solid #A8E6CF;
    padding-left: 16px;
    text-decoration: none;
    color: black;
    transition: padding-left 0.3s;

    &:hover{
        padding-left: 24px;
    }
}


.text-up{
    padding-top: 159px;
    width: 940px;
    height: 188px;
    display: flex;
    justify-content: space-between;
}

.use-service{
    display: flex;
    justify-content: space-around;
}

.use-service-par{
    width: 930px;
    font-weight: 400;
    font-size: 35px;
    line-height: 48px;
    padding-top: 50px;
}

.main-buttons{
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.reg-button{
    padding: 18px 53.6px;
    align-items: center;
    display: flex;
    width: 439px;
    height: 79px;
    background-color: #FFAAA5;
    justify-content: center;
    font-weight: 400;
    font-size: 35px;
    line-height: 42px;
    text-decoration: none;
    color: black;
    transition: background-color 0.2s, border 0.2s;

    &:hover{
        background-color: #E2F3ED;
        border: 4px solid #A8E6CF;
    }

}
.sign-in{
    padding: 18px 53.6px;
    margin-top: 50px;
    align-items: center;
    display: flex;
    width: 439px;
    height: 79px;
    background-color: #A8E6CF;
    justify-content: center;
    font-weight: 400;
    font-size: 35px;
    line-height: 42px;
    text-decoration: none;
    color: black;
    transition: background-color 0.2, border 0.2s;

    &:hover{
        background-color: #E2F3ED;
        border: 4px solid #FFAAA5;
    }
}

.footer {
    margin-top: 100px;
    display: flex;
    align-items: center;
    height: 79px;
    background-color: #88BDA9;
    color: black;
}

.footer-wrap {
    display: flex;
    justify-content: space-between;
    align-items: center;
}


.text-footer {
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
}

.par-reg{
    font-size: 60px;
    font-weight: lighter;
}

.reg-form{
    display: flex;
    flex-direction: column;
    margin: 38px auto 26px;
    width: 790px;
    height: 511px;
    background-color: #A8E6CF;
    padding: 25px 53px;

}

.form-heading{
    text-align: center;
    font-weight: 400;
    font-size: 35px;
    line-height: 48px;
    font-weight: lighter;
}

.form-input{
    align-self: center;
    margin-top: 20px;
    width: 600px;
    height: 44px;
    border: none;
    padding-left: 24px;
    background: #FEFFE5;

    &::placeholder{
        color: #FFAAA5;
    }

}

.form-button{
    margin-top: 20px;
    align-self: center;
    background-color: #FEFFE5;
    width: 294px;
    height: 57px;
    transition: background-color 0.2s, border 0.2s;
    font-size: 22px;
    font-family: 'Onest';
    border: #FEFFE5;

    &:hover{
        cursor: pointer;
        background-color: #A8E6CF;
        border: 4px solid #FFAAA5;
    }
}

.par-sign-in{
    width: 239px;
}

.text-up-sign{
    width: 1064px;
}

.forget-password{
    cursor: pointer;
    text-decoration: none;
    color: black;
    align-self: center;
    padding-top: 20px;
    font-weight: 400;
    font-size: 25px;
    line-height: 30px;
    transition: color 0.3s;

    &:hover{
        color: #FFAAA5;
    }
}

.profile-form{
    display: flex;
    flex-direction: column;
}

.profile-button{
    &:hover{
        background-color: #E2F3ED;
    }
}

.prof-but-wrap{
    display: flex;
    flex-direction: column;
    margin-right: 306px;
}

.text-up-profile{
    width: 1272px;
}

.projects{
    margin: 100px auto 60px;
    padding: 15px 25px;
    align-items: center;
    display: flex;
    justify-content: center;
    width: 390px;
    height: 67px;
    background-color: #FFAAA5;
    font-weight: 400;
    font-size: 29px;
    line-height: 36px;
    text-decoration: none;
    color: black;
    transition: background-color 0.2s, border 0.2s;

    &:hover{
        background-color: #E2F3ED;
        border: 4px solid #A8E6CF;
    }
}

.folder-projects{
    display: inline-block;
    height: 44px;
    width: 44px;
    text-decoration: none;
    margin-right: 15px;

    & svg :hover {
        transition: fill 0.3s;
        fill: #FFAAA5;
    } 

}

.page-up-projects{
    justify-content: space-around;
    display: flex;
    align-items: center;
    margin-bottom: 264px;
    background-image: none;
}

.cards-project{
    display: flex;
}

.card{
    padding: 111px 87px 0 88px;
    display: flex;
    flex-direction: column;
    width: 325px;
    height: 398px;
    background-color: #FEFFE5;
}

.new-project{
    margin-right: 80px;
}

.circle {
    display: flex;
    width: 150px;
    height: 157.11px;
    border-radius: 50%;
    background-color: #A8E6CF;
    align-self: center;
    justify-content: center;
    align-items: center;
    transition: transform 0.3s;

    &:hover{
        cursor: pointer;
        transform: scale(1.1);
    }

}

.card-par{
    padding-top: 25px;
    text-align: center;
    font-weight: 400;
    font-size: 20px;
    line-height: 24px;
}


.projects-header{
    text-align: center;
    margin-top: 50px;
    font-weight: 400;
    font-size: 60px;
    line-height: 84px;
}

.project-cards{
    margin: 50px auto 34px;
    justify-content: space-between;
    width: 1481px;
    display: flex;

}



.card-pr{
    padding: 18px 20px 20px 21px;
    background-color: #FFAAA5;
    transition: transform 0.3s;

    &:hover{
        cursor: pointer;
        transform: scale(1.05);
    }
}

.new-card {
    padding: 111px 87px 0px 88px;
    background-color: #FFAAA5;
    transition: transform 0.3s;

    &:hover{
        cursor: pointer;
        transform: scale(1.05);
    }
}

.circle-pr{
    background-color: #FEFFE5;

    &:hover{
        transform: none;
    }
}

.circle-new{
    background-color: #FEFFE5;

    &:hover{
        transform: none;
    }

}

.card-pr-par{
    font-weight: 400;
    font-size: 20px;
    line-height: 24px;
    padding-bottom: 20px;
    justify-content: center;
    text-align: center;
}

.project-description{
    margin-top: 20px;
    align-items: center;
    width: 284px;
    height: 146px;
    font-weight: 400;
    font-size: 20px;
    line-height: 24px;
}

.new-project-description{
    text-align: center;
    margin-top: 24px;
    font-weight: 400;
    font-size: 20px;
    line-height: 24px;
}

    










@font-face {
    font-family: 'Onest';
    src: url(/fonts/ofont.ru_Onest.ttf);
}